- @user.password = @user.password_confirmation = nil
%fieldset
  = form.error_messages
  %legend
    Your Information
  = form.text_field :login, :label => 'Username'
  = form .text_field :first_name
  = form.text_field :last_name
  = form.select :gender, ['Female', 'Male']
  = form.text_field :location
  = form.text_field :email
  = form.password_field :password
  = form.password_field :password_confirmation
