- semantic_form_for @user_session, :url => user_session_path do |f|
  %h2 Login
  = f.input :login, :label => 'Username'
  = f.input :password
  = f.input :remember_me, :as => :boolean, :class => 'left'
  %br
  .buttons
    = f.commit_button "Login"
  = link_to 'Forgotten Password', forgot_password_path, :class => 'forgotten_password'

- content_for :on_ready do
  PNB.formFocusFirst('new_user_session')
