- uberform_for @user_session, :url => user_session_path do |f|
  %h2 Login
  = f.text_field :login, :label => 'Username'
  = f.password_field :password
  = f.check_box :remember_me, :class => 'left'
  %br
  .buttons
    = f.submit "Login"
  = link_to 'Forgotten Password', forgot_password_path, :class => 'forgotten_password'

- content_for :on_ready do
  PNB.formFocusFirst('new_user_session')
