- content_for :header_nav do
  - if current_user
    %li= link_to 'my account', account_path
    %li= link_to 'log out', logout_path
  - else
    %li= link_to 'sign in', login_path
    %li= link_to 'sign up', signup_path

!!! XML
!!!
%html{html_attrs}
  %head
    = render :partial => 'layouts/common_headers'
    = render :partial => 'layouts/on_ready'
    %title= page_title
  = render :partial => 'layouts/body'
