<!doctype html>
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag 'style'
    = javascript_include_tag 'libs/modernizr-1.6.min.js'
  %body
    #container
      %header
        = render 'layouts/header'
      #main
        = yield
      %footer
        = render 'layouts/footer'
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"}
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery-min.js"%3E%3C/script%3E'))
    = javascript_include_tag 'libs/plugins'
    = javascript_include_tag 'application'
    /[if lt IE 7 ]
      <script src="/javascripts/libs/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); </script>
    - unless Rails.env.production?
      / yui profiler and profileviewer - remove for production
      = javascript_include_tag 'libs/profiling/yahoo-profiling.min.js'
      = javascript_include_tag 'libs/profiling/config.js'
    / change the UA-XXXXX-X to be your site's ID
    :javascript
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function(d, t) {
       var g = d.createElement(t),
           s = d.getElementsByTagName(t)[0];
       g.async = true;
       g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       s.parentNode.insertBefore(g, s);
      })(document, 'script');
